.addlicensebandcontainer {
    background-color: var(--white-color);
    margin-top: 5rem;
    padding: 3rem;
    align-items: center;
    border-radius: 5px;
}
.formContainer {
    background-color: var(--white-color);
    margin-top: 5rem;
    padding: 3rem;
    align-items: center;
    border-radius: 5px;
}