.addLicenseContainer {
    background-color: var(--white-color);
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    /* padding-top: 2.3rem; */
    align-items: center;
    height: 65vh;
    width: 60%;
    border-radius: 5px;
}

.textareaSize {
    height: 150px;
    resize: none;
}

.addlicensebandcontainer {
    background-color: var(--white-color);
    margin-top: 5rem;
    padding: 3rem;
    align-items: center;
    border-radius: 5px;
}

.container_form {
    background-color: var(--white-color);
    margin-top: 3rem;
    padding: 2rem;
    align-items: center;
    border-radius: 5px;
}
.container_form .profileName {
    font-size: 32px;
    margin-bottom: 1rem;
    margin-top: 0;
   color: var(--blue-color);;
}
.container_form .form_input{
    margin-bottom: 2rem;
}
.label_input {
    border: 1px solid var(--stroke-color);
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--blue-color);
    padding: 5px 15px;
    margin-top: 0.5rem;
}
.form_input{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
}

.message {
    margin: 1.5rem 0;
    color: var(--blue-color);
}


