.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Sets the column sizes */
  grid-template-rows: auto auto; /* Sets the row sizes */
  gap: 10px; /* Adds a gap between the grid cells */
  cursor: pointer;
}

.card-container h2 {
  margin-top: 10px;
  font-size: 2.5rem;
}

.blueBackg {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  /* border-color: linear-gradient(269.72deg, #000066 0.21%, #85b5ff 156.95%); */
  box-shadow: 0px 4px 21px rgba(1, 14, 35, 0.15);
  border-color: var(--blue-color);
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 5px 0px 5px;
  height: 150px;
  color: var(--blue-color);
}
.redBackg {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  /* background: linear-gradient(269.72deg, #9e1e3e 0.21%, #ff6a8f 156.95%); */
  box-shadow: 0px 4px 21px rgba(1, 14, 35, 0.15);
  border-color: var(--red-color);
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 5px 0px 5px;
  height: 150px;
  color: var(--red-color);
}

.blueBackg:hover, .blueBackg:active  {
  background-color: var(--blue-color);
  border: none;
  color:  var(--white-color);
}
.redBackg:hover, .redBackg:active {
  background-color: var(--red-color);
  border: none;
  color:  var(--white-color);
}