.addLicenseContainer {
    background-color: var(--white-color);
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    padding-top: 2.3rem;
    align-items: center;
    height: 60vh;
    width: 60%;
    border-radius: 5px;
}

.textareaSize {
    height: 150px;
    resize: none;
}

.addlicensebandcontainer {
    background-color: var(--white-color);
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    padding-top: 2rem;
    align-items: center;
    height: 60vh;
    border-radius: 5px;
}

.form_input{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
}

.message {
    margin: 1.5rem 0;
    color: var(--blue-color);
}


