/* Container styles */
.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  padding: 10px;
  bottom: 0.5;
    /* position: fixed; */
}

/* Pagination link styles */
.pagination-link {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var( --white-color);
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination-link:hover, .previous:hover, .next:hover  {
  color: var(--white-color);
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

 .pagination-link .pagination-active {
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  color: var(--white-color);
}
/* Prevoius & Next styles */
.previous, .next {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
  text-decoration: none;
  color: var(--text-color);
  background-color:  var(--stroke-color);
  border: 1px solid var(--stroke-color);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
/* Optional: Pagination link animation */
.pagination-link {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination-link:hover {
  transform: scale(1.1);
}

.pagination-link.pagination-active {
  transform: scale(1.1);
}