.sidebar {
    width: 260px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    background-color: var(--white-color);
}
.sidebar_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 5%);
    margin-top: 30px;
    /* margin-left: 30px; */
    /* margin-right: 30px; */
}
.menu {
    height: 80%;
}
.sidebar_item {
    padding-left: 1rem;
}
.sidebar_bottom {
    height: 20%;
}
.sidebar_link {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar_bottom span {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 15px;
}
.sidebar_bottom span {
    color: var(--black-color);
    cursor: pointer;
}
.sidebar_bottom span:hover {
    color: var(--blue-color);
    cursor: pointer;
}
.sidebar_bottom img {
    height: 20px;
    width: 20px;
}
.sidebar_list {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    color: var(--black-color);
}
.sidebar_link img {
    /* color: var(--blue-color); */
    height: 20px;
    width: 20px;
}
.sidebar_active{
    color: var(--white-color);
    background: var(--blue-color);
    padding: 15px;
}
