.tableData {
    padding: 30px;
    background-color: var(--white-color);
    border-radius: 10px;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    color: var(--black-color);
}
td, th {
    border: none;
    padding: 20px;
}
thead th {
    text-align: center;
    color: var(--black-color);
}
tbody  tr {
    background-color: var(--body-bg);
    text-align: center;
}
tbody tr:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}