.container_chart{
    padding-top: 1.5rem;
}
.report_chart{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;  */
    gap: 20px;
    height: 30rem; 
}
.chart-bar {
    background-color: var(--white-color);
    width: 95%;
    padding: 2rem;
    border-radius: 10px;
}
