.container_chart{
    padding-top: 1.5rem;
}
.report_chart{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 30rem; 
}
.chart-bar {
    background-color: var(--white-color);
    width: 95%;
    padding: 2rem;
    border-radius: 10px;
}
@media screen and (max-width: 1200px) {
    .container_chart{
        display: flex;
        flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
    
  }